<div class="row">

    <%= form_with url: '/search', method: :post, class: 'row row-cols-lg-auto g-3 align-items-center' do |form| %>
    
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fab fa-wikipedia-w"></i></span>
                <%= form.text_field :wikiword, class: 'form-control', placeholder: 'Inserisci testo da cercare...' %>
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <%= form.submit 'Cerca', class: 'btn btn-primary' %>
            </div>
        </div>

    <% end %>

</div>

<% if !flash.empty? %>
<div class="row">
    <div class="alert alert-danger col-3">
        <ul>
        <% flash[:error].each do |type, msg| %>
            <li>
                <%= msg %>
            </li>
        <% end %>
        </ul>
    </div>
<% end %>
</div>

<% if !@mstsrc.empty? %>
<div class="row">

    <div class="card col-4">
        <div class="card-header">Le 5 parole più cercate</div>
        <ul class="list-group list-group-flush">
            <% @mstsrc.each do |word| %>
            <li class="list-group-item"><%= word %></li>
            <% end %>
        </ul>
    </div>

</div>
<% end %>